* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "JetBrains Mono", monospace;
}

nav {
  height: 70px;
  display: flex;
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  background-color: #f55a5a;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.nav--logo {
  font-weight: bold;
  font-size: 1.5rem;
}

nav > * {
  margin: 0em 0.5em;
}

section {
  padding: 20px;
}

.CardSection {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
}

.card--mapmarker {
  color: #f55a5a;
}

.Card {
  margin: 1em 0em;
  padding: 0.5em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card--imagesec {
  width: 40%;
  overflow: hidden;
  border-radius: 10px;
  margin-right: 1em;
}

.card--imagesec img {
  max-width: 300px;
  height: 300px;
  /* display: block; */
  border-radius: 10px;
  object-fit: cover;
}

.card--contentsec {
  width: 60%;
}

.card--location {
  display: flex;
  align-items: center;
}

.card--location > * {
  margin-right: 0.5em;
}

@media (max-width: 768px) {
  .Card {
    flex-direction: column;
    align-items: flex-start;
  }

  .card--imagesec,
  .card--contentsec {
    width: 100%;
    margin: 0;
  }

  /* .card--contentsec {
    padding: 0;
  } */
}

hr {
  width: 100%; /* Full width of the container */
  flex-basis: auto; /* Ensures the <hr> is sized based on its content */
  align-self: stretch; /* Ensures the <hr> stretches across the container */
  border: none; /* Removes the default border */
  border-top: 1px solid #ccc; /* Custom border */
  margin: 20px 0; /* Vertical spacing */
}
